/* line item view type */
.vl4 {
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    margin-right: -1rem;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    .image {
        flex: 0 0 50%;
        max-width: 50%;
        overflow: hidden;
        padding: 0 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .75s ease-out;
        }

        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;

            & + .article-content {
                margin-top: 2rem;

                @include media-breakpoint-down(md) {
                    margin-top: 1rem;
                }
            }
        }
    }

    .article-content {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1rem;

        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .article-header {

            .title {
                font-size: 1.5rem;

                & + .info {
                    margin-top: .5rem;
                }
            }

            .info {
                @extend %item-header-info;
            }

            & + * {
                margin-top: 0.5rem;

                @include media-breakpoint-down(md) {
                    margin-top: 0.5rem;
                }
            }
        }

        .short {
            & + * {
                margin-top: 2rem;

                @include media-breakpoint-down(md) {
                    margin-top: 0.5rem;
                }
            }

            p {
                margin-bottom: inherit;
            }
        }

        .attribute-link {
            color: $link-color;
            margin-top: 1rem;

            @include media-breakpoint-down(lg) {
                margin-top: 1rem;
            }
        }
    }

    &.view-type-line_30_70_ir, &.view-type-line_30_70_il, &.view-type-line_30_70_x {

        .image {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;

            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;

                & + .article-content {
                    margin-top: 2rem;

                    @include media-breakpoint-down(md) {
                        margin-top: 1rem;
                    }
                }
            }
        }

        .article-content {
            flex: 0 0 66.6666%;
            max-width: 66.6666%;

            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &.view-type-line_50_50_ir, &.view-type-line_30_70_ir {
        flex-direction: row-reverse;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
}

.item-view-line_50_50_x {
    .list-row {
        > .list-item {
            &:nth-child( odd ) {
                .view-type-line_50_50_x {
                    flex-direction: row;

                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                }
            }

            &:nth-child( even ) {
                .view-type-line_50_50_x {
                    flex-direction: row-reverse;

                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.item-view-line_30_70_x {
    .list-row {
        > .list-item {
            &:nth-child( odd ) {
                .view-type-line_30_70_x {
                    flex-direction: row;

                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                }
            }

            &:nth-child( even ) {
                .view-type-line_30_70_x {
                    flex-direction: row-reverse;

                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

/* line article FullView layout */
.vl11 {
    .col-full-article-images {
        display: flex;
        flex-direction: column;
        float: left;
        max-width: 42%;
        margin-top: 0.375rem;
        gap: 1rem;

        .full-article-image {
            max-width: 100%;
            margin: 0 1.667rem 0.5rem 0;

            @include media-breakpoint-down(sm) {
                margin: 0 0 1rem;
            }

            img {
                width: 100%;
            }
        }

        @include media-breakpoint-down(sm) {
            max-width: inherit;
            margin-top: inherit;
            float: none;
            gap: 0.5rem;
        }
    }
}

/* -------- */

//.item-view-line_50_50_x {
//    .list-row {
//        > .list-item {
//            &:nth-child( odd ) {
//                .view-type-line_50_50_x {
//                    flex-direction: row;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//
//            &:nth-child( even ) {
//                .view-type-line_50_50_x {
//                    flex-direction: row-reverse;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//        }
//    }
//}
//
//.item-view-line_70_30_x {
//    .list-row {
//        > .list-item {
//            &:nth-child( odd ) {
//                .view-type-line_70_30_x {
//                    flex-direction: row;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//
//            &:nth-child( even ) {
//                .view-type-line_70_30_x {
//                    flex-direction: row-reverse;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//        }
//    }
//}
//
//.item-view-line_teaser_50_50_x {
//    .list-row {
//        > .list-item {
//            &:nth-child( odd ) {
//                .view-type-line_teaser_50_50_x {
//                    flex-direction: row;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//
//            &:nth-child( even ) {
//                .view-type-line_teaser_50_50_x {
//                    flex-direction: row-reverse;
//
//                    @include media-breakpoint-down(md) {
//                        flex-direction: column;
//                    }
//                }
//            }
//        }
//    }
//}
