.ngl-block {
    // whitespace sizes
    $sizes: (
        mini: 1rem,
        small: 2rem,
        medium: 3rem,
        large: 6rem,
        max: 8rem,
    );
    $sm-sizes: (
        mini: 0.5rem,
        small: 1rem,
        medium: 1.5rem,
        large: 3rem,
        max: 4rem
    );

    @each $keyMap, $valueMap in $sizes {
        &.whitespace-top-#{$keyMap} {
              padding-top: $valueMap;
        }
        &.whitespace-bottom-#{$keyMap} {
              padding-bottom: $valueMap;
        }
    }

    &.with-bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* background colors */
    &.bg-color-primary {
        background-color: $primary;
    }

    &.bg-color-secondary {
        background-color: $secondary;
    }

    &.bg-color-white {
        background-color: $white;
    }

    &.bg-color-black {
        background-color: $black;
        color: $white;
    }

    /* default full view grid*/
    &.ngl-full_view {
        .row {
            gap: 1.5rem 0;

            @include media-breakpoint-down(md) {
                gap: 1rem 0;
            }

            @include media-breakpoint-down(xs) {
                gap: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        @each $keyMap, $valueMap in $sm-sizes {
            &.whitespace-top-#{$keyMap} {
                  padding-top: $valueMap;
            }
            &.whitespace-bottom-#{$keyMap} {
                  padding-bottom: $valueMap;
            }
        }
    }
}
