# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        ezpublish:
            id: ezpublish.security.user_provider
#!        in_memory:
#!            memory: ~

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # NOTE: REMOVED Feb 5 2026 - This firewall was blocking POST /login from reaching form_login
        # The ezpublish_front firewall with form_login handles both GET (show form) and POST (process auth)
        # login:
        #     pattern: ^/login$
        #     security: false

        ezpublish_forgot_password:
            pattern: /user/(forgot-password|reset-password)
            security: false

        ezpublish_front:
            pattern: ^/
            anonymous: ~
            ezpublish_rest_session: ~
            form_login:
                require_previous_session: false
                login_path: /login
                check_path: /login_check
                default_target_path: /
                always_use_default_target_path: false
                # success_handler: netgen_admin_ui.security.authentication_success_handler
                # CSRF token removed: causes session initialization on login GET
                # Login form doesn't need CSRF since it's the unauthenticated entry point
            logout: ~

        main:
            anonymous: ~
            # activate different ways to authenticate

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
