.leaflet-popup-content {
    font-size: 1rem;

    h1 {
        font-size: $font-size-text;
        margin: 0;
    }

    a {
        color: $link-color;
    }

    p {
        margin: 0.5rem 0;
    }
}

.map-overlay {
    height: 100vh;

    .map-content {
        width: 100%;
        height: 100%;
    }
}
