.spacer-boat {
    position: relative;
    height: 6.25rem;
    padding-top: 4.25rem;
    margin-bottom: 1rem;

    hr {
        border-color: $border-spacer;
        margin: 0;
    }

    img {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;

        @include media-breakpoint-down(md) {
            max-height: 4.6875rem;
        }
    }

    @include media-breakpoint-down(md) {
        height: 5.25rem;
        padding-top: 3.25rem;
    }
}
