.base-navigation {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;

        .nav-item {
            padding: 0 1.2rem;

            &.offcanvas-toggle-container {
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;

                img {
                    margin-top: 0.5rem;
                }
            }

            .nav-link {
                padding: 0.5rem 0;
            }

            .logo {
                color: $site-title-color;
                min-width: 14rem;

                img {
                    margin-right: 0.8rem;

                    @include media-breakpoint-down(md) {
                        float: left;
                    }
                }

                .nav-icon-text {
                    @include media-breakpoint-down(md) {
                        line-height: 1.2;
                        font-size: $font-size-toolbar-top;
                    }
                }

                @include media-breakpoint-down(md) {
                    min-width: 0;
                }
            }
        }

        .top-link {
            color: $link-color;
            font-size: $font-size-box-text;

            a {
                font-weight: bold;
            }

            @include media-breakpoint-down(md) {
                font-size: $font-size-toolbar-top;
            }
        }

         @include media-breakpoint-down(xs) {
             padding: 0;
         }
    }

    @include media-breakpoint-down(xs) {
        margin-right: -$gutter;
        margin-left: -$gutter;
    }
}
