.zone-header {
    margin-bottom: 1.5rem;
}

.landing {
    .zone-header {
        margin-bottom: 5rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
}

.zone-post_header {
    margin-bottom: 2rem;
}

.zone-footer {
    margin-top: 8rem;
    clear: both;

    @include media-breakpoint-down(xs) {
        margin-top: 3rem;
    }
}

