{% extends '@nglayouts/block/title.html.twig' %}

{% block content %}
    <div class="spacer-boat">
        <hr />
        <img src="{{ asset('bundles/app/images/grafiken/vignette-zeesboot-braun.png') }}" alt="" />
    </div>
{% endblock %}
