/* EMBEDED OBJECTS ----------------------------------------------------- */
.object-left {
    float: left;
    clear: left;
    margin-right: 2.5%;
}

.object-right {
    float: right;
    clear: right;
    margin-left: 2.5%;
}

.object-left,
.object-right {
    max-width: 47.5%;
}

.object-center {
    .view-type-embed {
        max-width: 75%;
        margin: 0 auto;
    }
}

.view-type-embed {
    &.image {
        margin-bottom: 1.5rem;
    }

    &.ng-gallery {
        //max-width: inherit;
        margin-bottom: 1rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;

        .nglayouts-flex-row {

            .image-wrapper {
                padding: 0.5rem;

                @include media-breakpoint-down(md) {
                    width: 50% !important;
                }

                @include media-breakpoint-down(sm) {
                    width: 100% !important;
                }
            }
        }
    }

    &.ng-video {
        margin: 20px 0;

        h4 {
            margin: 10px 0;
        }
    }
}

.clear {
    clear: both;
}

@include media-breakpoint-down(xs) {
    .object-left,
    .object-right {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .object-center {
        .view-type-embed {
            max-width: 100%;
        }
    }
}

/* /EMBEDED OBJECTS */

/* ezxmltext elements */
.ezxmltext-field {
    p {
        //margin: 0 0 2em;
        a:not(.btn) {
            color: $orange;
            //border-bottom: .25rem solid $sunglow;
            //transition: border .3s;
            &:hover {
                color: darken($orange, 15%);
                //color: inherit;
                //border-color: darken($sunglow, 15%);
            }
        }
    }

    ul {
        list-style-type: none;
        //margin: 0 0 2em;
        padding: 0;

        > li {
            position: relative;
            //margin: 0 0 1em;
            margin: 0 0 3px;
            //padding: 0 0 0 1.5em;
            padding: 0 0 0 1em;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                //top: .2777777778em * 2;
                top: .555555556em;
                //width: .8888888889em;
                //height: .8888888889em;
                width: .444444444em;
                height: .444444444em;
                //background: $sunglow;
                background: $red;
            }
        }
    }

    ol {
        counter-reset: ol-counter;
        list-style-type: none;
        //margin: 0 0 2em;
        padding: 0;

        > li {
            position: relative;
            margin: 0 0 1em;
            padding: 0 0 0 1.5em;

            &::before {
                counter-increment: ol-counter;
                content: counter(ol-counter) '.';
                position: absolute;
                left: 0;
                font-weight: 900;
                color: $sunglow;
            }
        }
    }

    blockquote {
        background-color: rgba(254, 215, 47, .04);
        border-bottom: .375rem solid $sunglow;
        padding: 2rem;
        margin-bottom: 2rem;
        text-align: center;

        .blockquote-body {
            font-size: 1.5625rem;
            font-style: italic;

            &::before {
                @extend %fontawesome;
                content: '\f10d';
                color: $sunglow;
                font-size: 2.5em;
            }
        }

        p {
            margin: 0;

            + p {
                margin-top: 2em;
            }
        }
    }

    table {
        p:last-child {
            margin: 0;
        }

        @include media-breakpoint-down(xs) {
            width: 100% !important;
        }
    }
}

.table {
    color: $font-color;
    margin-bottom: 2rem;
}

.table tr:last-child td {
    border-bottom: 1px solid $border-color;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $table-row-odd-color;
}
