.view-type-standard_with_intro.cjw-map {
    background-color: $footer-bg-color-dark;
    color: #fff;

    .col-map {
        padding: 0;
        position: relative;

        .enlarge {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1rem;
            background-color: rgba( 255, 255, 255, 0.8 );
            z-index: 1000;
            border-bottom-left-radius: 0.2rem;
        }
    }

    .article-content {
        padding: 2rem;

        h2, a {
            color: #fff;
            font-weight: bold;
        }
    }
}
