.embed-video-container {
    .play {
        display: block;
        position: absolute;
        top: 37%;
        left: 42%;
        width: 15%;
    }

    .embed-video {
        position: relative;
        display: block;
        padding: 56.25% 0 0 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .open-in-overlay {
            z-index: 10;
            top: 0;
            right: 0;
            background-color: rgba( 255, 255, 255, 0.9 );
            display: block;
            padding: 0.5rem;
            position: absolute;
        }
    }
}

.slick-slider {
    .embed-video-container {
        .embed-video {
            padding-top: 66.6%;
            background-color: $font-color;
        }
    }
}
